<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <title>最新共享 - {$Think.config.site_name}</title>
  {include file="Public/head" /}
  {/* 编辑器提示用
  <link rel="stylesheet" href="/public/static/src/css/app.css">
  <link rel="stylesheet" href="/public/static/src/css/font-awesome.css">
  */}
</head>
<body id="sharePage">
{include file="Public/header" /}
<main class="container pt-3">
  <!-- 面包屑导航 -->
  <ol class="breadcrumb mb-3">
    <li class="breadcrumb-item"><a href="__PUBLIC__">首页</a></li>
    <li class="breadcrumb-item active">最新共享</li>
  </ol>

  <!-- 分类导航 -->
  <ul class="nav nav-pills flex-wrap mb-3">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {eq name='type' value='all'}active{/eq}" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">全部分类</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{:url('Share/index')}">全部</a>
        <a class="dropdown-item" href="{:url('Share/index?new=1')}">新作</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {eq name='type' value='16'}active{/eq}" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">P2P游戏</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{:url('Share/index?ti=16')}">全部</a>
        <a class="dropdown-item" href="{:url('Share/index?ti=16&new=1')}">新作</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {in name='type' value='41,cn'}active{/in}" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">网盘游戏</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{:url('Share/index?ti=41')}">全部</a>
        <a class="dropdown-item" href="{:url('Share/index?ti=41&new=1')}">新作</a>
        <a class="dropdown-item" href="{:url('Share/index?ti=cn')}">中文</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {eq name='type' value='67'}active{/eq}" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">CG画集</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{:url('Share/index?ti=67')}">全部</a>
        <a class="dropdown-item" href="{:url('Share/index?ti=67&new=1')}">新作</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {eq name='type' value='68'}active{/eq}" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">音乐</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{:url('Share/index?ti=68')}">全部</a>
        <a class="dropdown-item" href="{:url('Share/index?ti=68&new=1')}">新作</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link {eq name='type' value='92'}active{/eq}" href="{:url('Share/index?ti=92')}">动画</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {eq name='type' value='127'}active{/eq}" href="{:url('Share/index?ti=127')}">漫画/轻小说</a>
    </li>
  </ul>

  <!-- 共享列表 -->
  <section class="row">
    <ul class="list-group thread-list-group">
      {volist name="shareList" id="vo"}
      <li class="list-group-item thread-list-item">
        <div class="thread-link-item">
          <a href="{$vo.threadUrl}" class="thread-link" target="_blank">{$vo.threadTitle}</a>
        </div>
        <footer class="thread-footer">
          <div class="col-4 thread-footer-column">
            <span style="color: {$vo.threadTypeColor}" title="类型" aria-label="类型">
              <i class="fa fa-map-signs" aria-hidden="true"></i>
              {$vo.threadType}
            </span>
          </div>
          <div class="col-4 thread-footer-column text-center">
            <a class="not-click-link" data-author="{$vo.author}" href="{:url('Profile/show', 'username=' . $vo['author'])}" title="发布者" aria-label="发布者" data-not-click="true">
              <i class="fa fa-user" aria-hidden="true"></i>
              {$vo.author}
            </a>
          </div>
          <div class="col-4 thread-footer-column text-right">
            <span title="发布时间" aria-label="发布时间">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time>{$vo.publishTime}</time>
            </span>
          </div>
        </footer>
      </li>
      {/volist}
    </ul>
  </section>

</main>
{include file="Public/footer" /}
</body>
</html>
