<span data-color="#ffffff" style="background-color: #ffffff;"></span>
<span data-color="#000000" style="background-color: #000000;"></span>
<span data-color="#eeece1" style="background-color: #eeece1;"></span>
<span data-color="#0275d8" style="background-color: #0275d8;"></span>
<span data-color="#4f81bd" style="background-color: #4f81bd;"></span>
<span data-color="#c0504d" style="background-color: #c0504d;"></span>
<span data-color="#9bbb59" style="background-color: #9bbb59;"></span>
<span data-color="#8064a2" style="background-color: #8064a2;"></span>
<span data-color="#4bacc6" style="background-color: #4bacc6;"></span>
<span data-color="#f79646" style="background-color: #f79646;"></span>
<hr>
<span data-color="#f2f2f2" style="background-color: #f2f2f2;"></span>
<span data-color="#7f7f7f" style="background-color: #7f7f7f;"></span>
<span data-color="#ddd9c3" style="background-color: #ddd9c3;"></span>
<span data-color="#c6d9f0" style="background-color: #c6d9f0;"></span>
<span data-color="#dbe5f1" style="background-color: #dbe5f1;"></span>
<span data-color="#f2dcdb" style="background-color: #f2dcdb;"></span>
<span data-color="#ebf1dd" style="background-color: #ebf1dd;"></span>
<span data-color="#e5e0ec" style="background-color: #e5e0ec;"></span>
<span data-color="#dbeef3" style="background-color: #dbeef3;"></span>
<span data-color="#fdeada" style="background-color: #fdeada;"></span>
<span data-color="#d8d8d8" style="background-color: #d8d8d8;"></span>
<span data-color="#595959" style="background-color: #595959;"></span>
<span data-color="#c4bd97" style="background-color: #c4bd97;"></span>
<span data-color="#8db3e2" style="background-color: #8db3e2;"></span>
<span data-color="#b8cce4" style="background-color: #b8cce4;"></span>
<span data-color="#e5b9b7" style="background-color: #e5b9b7;"></span>
<span data-color="#d7e3bc" style="background-color: #d7e3bc;"></span>
<span data-color="#ccc1d9" style="background-color: #ccc1d9;"></span>
<span data-color="#b7dde8" style="background-color: #b7dde8;"></span>
<span data-color="#fbd5b5" style="background-color: #fbd5b5;"></span>
<span data-color="#bfbfbf" style="background-color: #bfbfbf;"></span>
<span data-color="#3f3f3f" style="background-color: #3f3f3f;"></span>
<span data-color="#938953" style="background-color: #938953;"></span>
<span data-color="#548dd4" style="background-color: #548dd4;"></span>
<span data-color="#95b3d7" style="background-color: #95b3d7;"></span>
<span data-color="#d99694" style="background-color: #d99694;"></span>
<span data-color="#c3d69b" style="background-color: #c3d69b;"></span>
<span data-color="#b2a2c7" style="background-color: #b2a2c7;"></span>
<span data-color="#92cddc" style="background-color: #92cddc;"></span>
<span data-color="#fac08f" style="background-color: #fac08f;"></span>
<span data-color="#a5a5a5" style="background-color: #a5a5a5;"></span>
<span data-color="#262626" style="background-color: #262626;"></span>
<span data-color="#494429" style="background-color: #494429;"></span>
<span data-color="#1f497d" style="background-color: #1f497d;"></span>
<span data-color="#366092" style="background-color: #366092;"></span>
<span data-color="#953734" style="background-color: #953734;"></span>
<span data-color="#76923c" style="background-color: #76923c;"></span>
<span data-color="#5f497a" style="background-color: #5f497a;"></span>
<span data-color="#31859b" style="background-color: #31859b;"></span>
<span data-color="#e36c09" style="background-color: #e36c09;"></span>
<span data-color="#7f7f7f" style="background-color: #7f7f7f;"></span>
<span data-color="#0c0c0c" style="background-color: #0c0c0c;"></span>
<span data-color="#1d1b10" style="background-color: #1d1b10;"></span>
<span data-color="#0f243e" style="background-color: #0f243e;"></span>
<span data-color="#244061" style="background-color: #244061;"></span>
<span data-color="#632423" style="background-color: #632423;"></span>
<span data-color="#4f6128" style="background-color: #4f6128;"></span>
<span data-color="#3f3151" style="background-color: #3f3151;"></span>
<span data-color="#205867" style="background-color: #205867;"></span>
<span data-color="#974806" style="background-color: #974806;"></span>
<hr>
<span data-color="#d9534f" style="background-color: #d9534f;"></span>
<span data-color="#ff0000" style="background-color: #ff0000;"></span>
<span data-color="#f0ad4e" style="background-color: #f0ad4e;"></span>
<span data-color="#ffc000" style="background-color: #ffc000;"></span>
<span data-color="#ffff00" style="background-color: #ffff00;"></span>
<span data-color="#92d050" style="background-color: #92d050;"></span>
<span data-color="#00b050" style="background-color: #00b050;"></span>
<span data-color="#00b0f0" style="background-color: #00b0f0;"></span>
<span data-color="#0000ff" style="background-color: #0000ff;"></span>
<span data-color="#7030a0" style="background-color: #7030a0;"></span>